<tbody>
  <tr>
    <td style="padding: 2em">
      <h1 style="font-weight: 600; font-size: 1rem; margin-bottom: 2rem">
        {{header}}
      </h1>
      <p style="font-size: 0.9rem">
        Hey
        {{name}},
        <br /><br />
        {{message1}}
      </p>
      <p style="font-size: 0.9rem; line-height: 25px">
        {{message2}}
      </p>
      <p style="text-align: center">
        <a
          href="{{actionLink}}"
          style="
            background-color: #28a745;
            color: #ffffff;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
          "
        >
          {{actionText}}
        </a>
      </p>
    </td>
  </tr>
</tbody>